<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.johnxb.questionnaire.dao.QuesOptionMapper">
  <resultMap id="BaseResultMap" type="com.johnxb.questionnaire.entity.QuesOption">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="question_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ques_option
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.johnxb.questionnaire.entity.QuesOption">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ques_option (description, create_at, update_at, 
      question_id)
    values (#{description,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{questionId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.johnxb.questionnaire.entity.QuesOption">
    update ques_option
    set description = #{description,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      question_id = #{questionId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, description, create_at, update_at, question_id
    from ques_option
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, description, create_at, update_at, question_id
    from ques_option
  </select>

  <insert id="insertByParent" parameterType="com.johnxb.questionnaire.entity.QuesOption">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ques_option (description, create_at, update_at,
    question_id)
    values (#{description,jdbcType=VARCHAR}, CURRENT_TIME , CURRENT_TIME ,
    #{questionId,jdbcType=INTEGER})
  </insert>

  <resultMap id="Option" type="com.johnxb.questionnaire.entity.QuesOption">
    <id property="id" column="id"/>
    <result property="description" column="description"/>
    <result property="questionId" column="question_id"/>
    <result property="createAt" column="create_at"/>
    <result property="updateAt" column="update_at"/>
  </resultMap>
  <select id="findByFather"  resultMap="Option">
    select id, description, create_at, update_at, question_id
    from ques_option
    where question_id = #{id}
  </select>
</mapper>