<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.johnxb.questionnaire.dao.QuestionnaireMapper">
    <resultMap id="BaseResultMap" type="com.johnxb.questionnaire.entity.Questionnaire">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="classificationId" column="classification_id"/>
        <result property="createAt" column="create_at"/>
        <result property="creatorId" column="creator_id"/>
        <result property="creatorName" column="creator_name"/>
        <result property="visible" column="visible"/>
        <result property="updateAt" column="update_at"/>
        <result property="template" column="template"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from questionnaire
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.johnxb.questionnaire.entity.Questionnaire">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into questionnaire (title, create_at, status,
        description, classification_id, creator_id,
        visible, update_at, template
        )
        values (#{title,jdbcType=VARCHAR}, CURRENT_TIME , 1,
        #{description,jdbcType=VARCHAR}, #{classificationId,jdbcType=INTEGER}, #{creatorId,jdbcType=INTEGER},
        1, CURRENT_TIME, #{template,jdbcType=BIT}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.johnxb.questionnaire.entity.Questionnaire">
    update questionnaire
    set title = #{title,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      classification_id = #{classificationId,jdbcType=INTEGER},
      creator_id = #{creatorId,jdbcType=INTEGER},
      visible = #{visible,jdbcType=BIT},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      template = #{template,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, title, create_at, status, description, classification_id, creator_id, 
    visible, update_at, template
    from questionnaire
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, title, create_at, status, description, classification_id, creator_id, 
    visible, update_at, template
    from questionnaire
  </select>

    <select id="selectCountByClassificationId" resultType="java.lang.Integer">
        select COUNT(id)
        from questionnaire
        where classification_id = #{classification_id}
        and visible = 1
        and template = 0
    </select>
    <select id="seleteByClassificationId" resultMap="BaseResultMap">
        SELECT ques.id, ques.title, ques.create_at, ques.status, ques.description,auth_user.username creator_name,COUNT(question.id)
    FROM questionnaire ques,auth_user,question
    WHERE visible = 1 AND auth_user.id = creator_id
        <if test="classification_id != null">
            AND ques.classification_id = #{classification_id}
        </if>
        <if test="classification_id == null">
            AND ques.classification_id is null
        </if>
        AND question.questionnaire_id =ques.id
    </select>
</mapper>