<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.johnxb.questionnaire.dao.RecordMapper">
  <resultMap id="BaseResultMap" type="com.johnxb.questionnaire.entity.Record">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="questionnaire_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="question_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="option_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="ip" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.johnxb.questionnaire.entity.Record">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into record (questionnaire_id, question_id, option_id, 
      user_id, create_at, ip
      )
    values (#{questionnaireId,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, #{optionId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.johnxb.questionnaire.entity.Record">
    update record
    set questionnaire_id = #{questionnaireId,jdbcType=INTEGER},
      question_id = #{questionId,jdbcType=INTEGER},
      option_id = #{optionId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, questionnaire_id, question_id, option_id, user_id, create_at, ip
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, questionnaire_id, question_id, option_id, user_id, create_at, ip
    from record
  </select>
  <insert id="insertList" parameterType="java.util.List">
    insert into record (questionnaire_id, question_id, option_id,
      user_id, create_at, ip
      )
    values
    <foreach collection="list" item="item" index= "index" separator =",">
      (
      #{item.questionnaireId},
      #{item.questionId},
      #{item.optionId},
      #{item.userId},
      CURRENT_TIME ,
      #{item.ip}
      )
    </foreach>
  </insert>
</mapper>